//Colour Variables
$canvas: #f7efe7;
$white: #fff;
$black: #000;
$see-through: #000000cc;
$green: #003941;

//Font Imports
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap");

//Font Variables
$open-sans: "Open Sans", sans-serif;
$lora: "Lora", serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.btn {
  background-color: $black;
  border: none;
  color: $white;
  padding: 10px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 35px;
  background-color: $white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: $open-sans;
  h1 {
    letter-spacing: 0.5px;
  }
}

.homepage {
  width: 100vw;
  height: 100vh;
  padding: 0 50px 0 35px;
  background-color: $canvas;
  overflow: hidden;

  .home-img {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
  .title {
    background-color: $green;
    text-align: center;
    padding: 80px 50px;

    h2 {
      font-family: $lora;
      color: $white;
      font-weight: 500;
      letter-spacing: 0.5px;
      font-size: 60px;
    }

    button {
      margin-top: 25px;
      font-family: $open-sans;
      font-size: 16px;
    }
  }
}

.products-grid {
  background-color: $canvas;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px;
  grid-gap: 50px;
  justify-items: center;
}

.item-img {
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

.container {
  position: relative;
  color: white;
  font-family: $lora;
  background-color: white;
  border-radius: 25px;

  .img-text {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 26px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

    .product-info {
      h4 {
        margin-top: 5px;
      }
    }

    .product-cart {
      display: flex;
      justify-content: space-between;
    }
  }
}

.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $see-through;
  opacity: 0;
  transition: 0.5s ease;
}

.container:hover::before {
  opacity: 1;
}

.cart-container {
  position: fixed;
  z-index: 10;
  right: 0;
  margin-top: 61px;
  background-color: white;
  height: 95vh;
  width: 40vw;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transform: translateX(1000px);
  transition: transform 1s ease-out, visibility 1s;

  .cart-items {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    padding-right: 150px;
    box-sizing: content-box;
  }

  .checkout {
    display: flex;
    flex-direction: column;

    .total {
      font-family: $lora;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    button {
      padding: 18px 35px;
    }
  }
}

.cart-container.active {
  transform: translateX(0px);
  transition: transform 1s ease-out, visibility 0s;
}

.item-container {
  margin-bottom: 50px;
  font-family: $lora;
  display: flex;
  justify-content: space-between;

  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    font-family: $open-sans;
    padding: 0 10px;
    cursor: pointer;
  }

  img {
    width: 25%;
    height: 25%;
  }
}

@media screen and (max-width: 1440px) {
  .item-container {
    img {
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .item-container {
    img {
      width: 150px;
      height: 150px;
    }
  }
  .item-img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .item-container {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .item-img {
    width: 200px;
    height: 200px;
  }
  .homepage {
    .title {
      h2 {
        font-size: 40px;
      }
    }
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-container {
    width: 60vw;
  }
  .checkout {
    .total {
      h1 {
        font-size: 26px;
      }
    }
    button {
      font-size: 14px;
    }
  }
}
